body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
main {
  padding: 1rem;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: aqua;
  padding: 0;
}
.main-header-nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header-unorder-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.un-list-item {
  margin: 0 1rem;
  padding: 0;
}
.un-list-item a {
  text-decoration: none;
  color: black;
  margin: 0 1rem;
}
.un-list-item a:hover,
.un-list-item a:active,
.un-list-item a.active {
  color: blue;
}

/* Add product page */
.form-add {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}
.form-cotrol {
  margin: 1rem 0;
}
.form-cotrol label,
.form-cotrol input,
.form-cotrol textarea {
  display: block;
  width: 100%;
}
.form-cotrol input {
  border: 1px solid yellowgreen;
  font: inherit;
  border-radius: 2px;
}
.form-cotrol textarea {
  border: 1px solid yellowgreen;
  font: inherit;
  border-radius: 2px;
}
/* .btn {
  padding: 5px;
  font: inherit;
  border: 1px solid yellowgreen;
  color: yellowgreen;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: yellowgreen;
  color: #fff;
} */
