.form-add {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}
.form-cotrol {
  margin: 1rem 0;
}
.form-cotrol label,
.form-cotrol input {
  display: block;
  width: 100%;
}
.form-cotrol input {
  border: 1px solid yellowgreen;
  font: inherit;
  border-radius: 2px;
}
.card-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.card-action a {
  padding: 5px 0 0 0;
  text-align: center;
  text-decoration: none;
  width: 5rem;
  height: 2rem;
}
/* shop product */
.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10rem;
  justify-content: center;
}
.grid > card-product-item {
  width: 500px;
  height: 50px;
}

.card-product-item .card-img img {
  width: 20rem;
  height: 20rem;
}
